@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: fff;
}

/* Global Classes  */
li,
button {
    font-size: 12px;
    font-weight: 500;
    color: #ccc;
    cursor: pointer;
}

/* Header Section  */   
.header {
    margin: 30px 100px 30px 100px;
    display: flex;
    justify-content: space-between;
}

.header .left-content a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 28px;
}

.header .right-content ul {
    display: flex;
    list-style: none;
}

.header .right-content ul li {
    padding: 10px 5px;
    border-radius: 100%;
    margin-left: 20px;
    font-size: 24px;
    color: #000;
    transition: all 0.3s ease 0s;
}

.header .right-content ul li:hover {
    background-color: #D9D9D9;
}

.header .right-content ul li a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
}

.header .right-content ul li.header-login {
    border-radius: 8px;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* Login & Register Section  */
.hero {
    width: 100%;
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.wrapper {
    width: 605px;
    border-radius: 16px;
}

.hero .wrapper header {
    font-size: 38px;
}

.hero .wrapper p {
    font-size: 24px;
}

.hero .wrapper p a {
    color: #000;
}

.hero .wrapper form {
    margin: 8px auto;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero .wrapper form .field {
    color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.hero .wrapper form .field label {
    margin-bottom: 8px;
    font-size: 16px;
}

.hero .wrapper form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 20px 20px 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hero .wrapper form .action {
    width: 100%;
}

.hero .wrapper form .action button {
    width: 100%;
    margin-top: 40px;
    background-color: #000;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.hero .wrapper form .action button:hover {
    background-color: #ccc;
    color: #000;
}

/* Home Video Container  */
.home-video-container {
    width: 100%;
    border-bottom: 2px solid #000;
}

.home-video-container video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Subjects Container  */
.subjects-container {
    margin: 0px 0 20px 80px;
    display: inline-block;
    text-align: left;
}

.subjects-container .content-row {
    margin-top: 40px;
}

.subjects-container .subject-details {
    display: flex;
}

.subjects-container .subject-details .icon {
    margin-right: 20px;
    width: 20px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
}

.subjects-container .subject-details header {
    font-size: 24px;
    font-weight: 500;
}

.subjects-container .row {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.subjects-container .row .content {
    margin-right: 20px;
    height: 320px;
    width: 230px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.subjects-container .row .content:hover {
    border: 2px solid #000;
}

.subjects-container .actions {
    position: absolute;
    justify-content: space-between;
}

.subjects-container .row .left-action button {
    position: absolute;
    height: 240px;
    width: 80px;
    background-color: #000;
    top: 10%;
    left: -20px;
    transition: all 0.3s ease 0s;
}

.subjects-container .row .left-action button:hover {
    background-color: #D9D9D9;
}

.subjects-container .row .left-action button i {
    font-size: 36px;
    color: #fff;
}

.subjects-container .row .right-action button {
    position: absolute;
    height: 240px;
    width: 80px;
    background-color: #000;
    top: 10%;
    right: -20px;
    transition: all 0.3s ease 0s;
}

.subjects-container .row .right-action button:hover {
    background-color: #D9D9D9;
}

.subjects-container .row .right-action button i {
    font-size: 36px;
    color: #fff;
}

/* Footer Section  */
.footer {
    margin-top: 20px;
    width: 100%;
    padding: 5%;
    background-color: #000;
}

.footer .row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer .row .content-col {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer .row .content-col header { 
    font-size: 24px;
    color: #fff;
    margin: 10px 90px;
}

.footer .row .content-col ul {
    list-style: none;
}

.footer .row .content-col ul li {
    font-size: 20px;
    margin: 5px;
}

.footer .horizontal-line {
    margin: 40px 0 20px 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.footer .details {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer .details .left-content {
    display: flex;
    flex-direction: row;
}

.footer .details .left-content header {
    margin-right: 20px;
    font-size: 24px;
}

.footer .details .left-content p {
    margin-top: 8px;
}

.footer .details .right-content i{ 
    font-size: 32px;
    cursor: pointer;
}

/* Contact Content Section  */
.contact-content { 
    height: 500px;
    border-bottom: 2px solid #000;
}

/* Contact Banner Section  */
.contact-banner {
    height: 180px;
    border-bottom: 2px solid #000;
}

.contact-banner .row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-banner .row .contact-col {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-banner .row .contact-col i {
    font-size: 82px;
    margin-right: 30px;
}


.contact-banner .row .contact-col.mobile {
    flex: 1 1 auto;
    border-right: 2px solid #000;
}

.contact-banner .row .contact-col.email {
    flex: 2 2 auto;
    border-right: 2px solid #000;
}

.contact-banner .row .contact-col.phone {
    flex: 2 2 auto;
}

.contact-banner .row .contact-col .details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-banner .row .contact-col .details header {
    font-size: 30px;
}

.contact-banner .row .contact-col .details p {
    font-size: 22px;
    font-weight: 300;
}

/* Contact Form Section  */
.contact-form {
    width: 100%;
}

.contact-form .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 80px;
}

.contact-form .wrapper header {
    font-size: 32px;
}

.contact-form .wrapper p {
    font-size: 24px;
    font-weight: 300;
}

.contact-form .wrapper form {
    margin-top: 30px;
}

.contact-form .wrapper form .user-details {
    display: flex;
    flex-direction: row;
}

.contact-form .wrapper form .user-details .field {
    color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contact-form .wrapper form .user-details .field label {
    margin-bottom: 8px;
    font-size: 24px;
}

.contact-form .wrapper form .user-details .input {
    width: 100%;
}

.contact-form .wrapper form .user-details .input:first-child {
    margin-right: 30px;
}

.contact-form .wrapper form .user-details .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 30px 20px 30px 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.contact-form .wrapper form .input.message {
    color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 10px;   
}

.contact-form .wrapper form .input.message label {
    margin-bottom: 8px;
    font-size: 24px;
}

.contact-form .wrapper form .input.message textarea {
    padding: 10px;
    height: 300px;
    resize: none;
}

.contact-form .wrapper form .action {
    display: flex;
    justify-content: right;
    margin: 30px auto;
}

.contact-form .wrapper form .action button {
    padding: 10px 80px;
    background-color: #000;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.contact-form .wrapper form .action button:hover {
    background-color: #f7f7f7;
    color: #000;
}

/* Category Intro Section  */
.category-intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #000;
}

.category-intro header {
    font-size: 40px;
    margin-bottom: 10px;
}

.category-intro p {
    font-size: 24px;
    font-weight: 300;
}

/* Category Cards Section  */
.category-cards {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category-cards .row {
    display: flex;
    flex-direction: row;
}

.category-cards .row .content-col {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px 40px;
    height: 430px;
    width: 320px;
    border: 2px solid #000;
    border-radius: 20px;
}

.category-cards .row .content-col header {
    font-size: 32px;
}

.category-cards .row .content-col .actions {
    display: flex;
    margin-top: 160px;
}

.category-cards .row .content-col .actions button {
    padding: 10px 30px;
    width: 100%;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.category-cards .row .content-col .actions button:hover {
    background-color: #D9D9D9;
}
